body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #0583f2;
  margin: 0;
  padding: 0;
}

h1 {
  color: #0583f2;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: -10px;
  font-family: "League Spartan";
}

h2 {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: normal;
}

button:hover,
.button_2:hover,
.pokemon_link:hover {
  transition: opacity 0.2s ease;
  opacity: 1;
}
.buttoncv {
  display: grid;
  justify-content: center;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  /* takes the font from the outer container */

  /* styles the button */
  background-color: #333333;
  color: white;
  text-decoration: none;
  /* width of the border, type, color */
  font-size: 36px;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  transition: background-color 0.2s, color 0.2, opacity 0.2s ease;
}

.buttoncv:hover {
  background-color: white;
  color: #260101;
}

a:active {
  /* selected link */
  color: #348abf;
}

.profile_portrait {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  padding: 20px;
}

.page-footer {
  color: white;
  text-align: center;
  margin-top: 50px;
}

.profile {
  margin-top: 50px;
  border: 3px solid rgba(236, 243, 240, 0.364);
  background-color: white;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-flexbox;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 5px;
  color: #666666;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 20rem;
  text-align: left;
  margin-bottom: 20px;
  line-height: 30px;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nav-link {
  font-size: 30px;
  line-height: 10px;
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.work {
  font-size: 50px;
  color: #666666;
}

.background {
  margin-top: 40px;
  background-color: #f7f7f7;
  background-size: cover;
  padding: 20px;
}

p {
  color: #666666;
  font-size: 20px;
}

.nav-item {
  color: white;
  font-size: 20px;
  list-style: none;
  height: 60px;
}

li {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.chatimg {
  width: 80%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.navbar-brand {
  border-radius: 50px;
  background-color: #333333;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  font-size: 2rem;
  width: 70px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 70px;
  margin-left: 10px;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-toggler-icon {
  color: white;
}
.navbar-light .navbar-toggler {
  color: white;
}

.Your__Project {
  font-size: 50px;
  color: #666666;
}
.work-image {
  box-shadow: 0 0 10px black;
  margin-bottom: 10px;
  width: 80%;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 2rem;
}

.grid__item {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 15px;
}

.standard-label {
  display: -ms-grid;
  display: grid;
  text-align: center;
  line-height: 40px;
  color: #666666;
  font-size: 20px;
}

.contact-form {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  color: #666666;
  padding: 10px;
  position: relative;
  border-width: 10%;
}

.text_area {
  margin: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.buttoncv:hover {
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  background-color: #260101;
  color: white;
  text-decoration: none;
}

.pokemon_link {
  background-color: #260101;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  border: none;
  border-radius: 10px;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 5px;
  color: #666666;
  font-family: sans-serif;
  font-size: 24px;
}

@viewport {
  width: device-width;
  zoom: 1;
}
@-ms-viewport {
  width: device-width;
}

input {
  font-size: 20px;
}

a {
  font-family: sans-serif;
  color: #0583f2;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.social {
  padding: 5px;
  width: 60px;
  height: 60px;
}

.bg-custom {
  background-color: #0583f2;
  padding-left: 40px;
  padding-top: 40px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20%;
}

.work-button {
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.code-button {
  background-color: #333333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-top: 5%;
  margin-bottom: 10%;
}

.image-container {
  flex: 1;
}
.image-container img {
  width: 100%;
  padding: 20px;
}
.image-container2 img {
  width: 100%;
  padding: 20px;
}
.casestudy-button {
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 10px;
}

.white-links {
  font-family: "League Spartan";
  color: white;
  font-size: 24px;
}

@media (max-width: 300px) {
  .grid {
    grid-template-columns: 1fr;
  }

  html {
    margin: 0;
  }
  .content {
    font-size: 16px;
    font-family: sans-serif;
  }
  li {
    font-size: 12px;
    font-weight: bold;
  }
  .work-image {
    width: 80%;
    height: auto;
  }
  .chatimg {
    width: 80%;
    height: auto;
  }
  .grid__item {
    width: 100%;
    margin: 0;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  .white-links {
    font-size: 1rem;
    font-family: "League Spartan";
  }
  h1 {
    font-size: 2rem;
    font-weight: 500;
    font-family: "League Spartan";
  }

  .nav-link {
    font-size: 20px;
  }
  .intro {
    font-size: 16px;
  }

  .work {
    font-size: 2rem;
  }

  .buttoncv {
    display: grid;
    justify-content: center;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    /* takes the font from the outer container */

    /* styles the button */
    background-color: #333333;
    color: white;
    text-decoration: none;
    /* width of the border, type, color */
    font-size: 20px;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
  }
}
@media (min-width: 772px) {
  .image-container img {
    display: flex;
    flex: up;
    border-radius: 50%;
    width: 100%;
    max-width: 500px;
    float: right;
    margin: 15px;
  }
  .image-container2 img {
    display: flex;
    flex: up;
    border-radius: 50%;
    width: 100%;
    max-width: 500px;
    float: left;
    margin-top: 15px;
    margin: 15px;
  }
  h1 {
    font-size: 60px;
  }
}
