body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #0583f2;
  margin: 0;
  padding: 0;
}

h1 {
  color: #0583f2;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: -10px;
  font-family: "League Spartan";
}

h2 {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: normal;
}

button:hover,
.button_2:hover,
.pokemon_link:hover {
  transition: opacity 0.2s ease;
  opacity: 1;
}
.buttoncv {
  transition: background-color 0.2s, color 0.2, opacity 0.2s ease;
}

.buttoncv:hover {
  background-color: white;
  color: black;
}

a:active {
  /* selected link */
  color: #348abf;
}

.profile_portrait {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 50%;
}

.page-footer {
  color: white;
  text-align: center;
  margin-top: 50px;
}

.profile {
  margin-top: 50px;
  border: 3px solid rgba(236, 243, 240, 0.364);
  background-color: #2fbcf7;
}

.intro {
  font-size: 20px;
  font-family: sans-serif;
}

.main-navigation .page-header__item {
  text-align: center;
  text-decoration: none;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navigation-list__item {
  font-size: 24px;
  margin-left: 15px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
}

.navigation-list li {
  display: inline;
  margin-left: 20px;
}

.work {
  font-size: 50px;
  color: #666666;
}

.background {
  margin-top: 125px;
  background-color: #f7f7f7;
}

p {
  color: #666666;
  font-size: 20px;
}

li {
  color: #666666;
  font-size: 20px;
  text-align: left;
}

.Your__Project {
  font-size: 50px;
  color: #666666;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.grid__item {
  -webkit-margin-start: 20px;
  margin-inline-start: 20px;
  -webkit-margin-end: 20px;
  margin-inline-end: 20px;
  background-color: #f7f7f7;
  padding: 1.5rem;
  border-radius: 10px;
}

.standard-label {
  display: -ms-grid;
  display: grid;
  text-align: center;
  line-height: 40px;
  color: #666666;
  font-size: 20px;
}

.contact-form {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  color: #666666;
  padding: 10px;
  position: relative;
  border-width: 10%;
}

.text_area {
  margin: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

@media (max-width: 750px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.buttoncv {
  display: grid;
  justify-content: center;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #2fbcf7;
  color: white;
  text-decoration: none;
  /* width of the border, type, color */
  font-size: 30px;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.buttoncv:hover {
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  background-color: white;
  color: black;
  text-decoration: none;
}

.pokemon_link {
  padding: 15px;
  border-radius: 100%;
  font-style: bold;
  font-weight: 50rem;
  color: #0583f2;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-flexbox;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 5px;
  color: #666666;
  font-family: "League Spartan";
  font-size: 18px;
  text-align: left;
  margin-bottom: 20px;
}

@viewport {
  width: device-width;
  zoom: 1;
}
@-ms-viewport {
  width: device-width;
}

input {
  font-size: 20px;
}

a {
  font-family: sans-serif;
  color: #0583f2;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
